<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <style>
    .block-info{
      border-style: ridge;
    }
  </style>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <h1>JSON</h1>
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder</p>
  </div>
</div>
<div class="container"> <!-- this needs fixed -->
    <form action="/p04/addProduct">
        <button type="submit">Add Product</button>
    </form>
    <form action="/p04/removeProduct">
        <button type="submit">Remove Product</button>
    </form>
    <form action="/p05/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
</div>
<!-- Insert product here -->
<br><br><br>
<div class="container">
  <% for(var i=0; i<data.length; i++) {%>
    <% if(i % 3 == 0) { %> 
      <div class="info-collection">
    <% } %>
          <div class="block-info">
            <!-- <img src="<%= data[i].imageUrl %>" class="card-img-top cImage"> -->
            <div class="info-body">
                <p>Name: <%= data[i].firstName %> <%= data[i].lastName %></p>
                <p class="Description">Description: <%= data[i].description %></p>
                <p class="_id">ID: <%= data[i]._id %></p>
            </div>
          </div>
    <% if(i % 3 == 2) { %> 
      </div> 
      <br>
    <% } %>
  <% } %>
</div>
<br>

</body>
</html>